RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|resource|blog|twd-theme|phpqrcode|temp|QRCodeTemp|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]